*{
	box-sizing: border-box;
}
.row1{
	z-index:4;
	position: fixed;
	top:0px;
	left:0px;
	/*border:1px solid black;*/
	height:80px;
	width: 100%;
	background-color:white;
}
.col1{
	float:left;
	/*border: solid black 1px;*/
	height: 100%;
	width: 15%;
}
.col2{
	float:right;
	/*border: solid black 1px;*/
	width:25%;
	height: 100%;
}
.row2{
	position: absolute;
	top:80px;
	left:0px;
	/*border:1px solid black;*/
	width: 100%;
	height: 30px;
	background-color: rgb(194, 184, 184);
}
.row3{
	z-index: 1;
	position: absolute;
	top:80px;
	left:0px;
	/*border:1px solid black;*/
	width: 100%;
	height: 160px;
}
.row4{
	position: absolute;
	top:240px;
	left:0px;
	/*border:1px solid black;*/
	width: 100%;
	height: 850px;
	flex-direction: column;
}
.row5{
	text-align: center;
	background-color: black;
	position: absolute;
	top:900px;
	left:0px;
	/*border:1px solid black;*/
	width: 100%;
	height: 150px;
	color:white;
}
.nav{
	float: left;
	/*border: solid black 1px;*/
	width: 15%;
	height: 100%;
}
.block{
	position: absolute;
	bottom:  0px;
	right:20%;
	left:20%;
	/*border:solid black 1px;*/
	height: 100px;
}
.img{
	display: block;
	/*border: solid black 1px;*/
	height: 200px;
}
.gap{
	
	height: 50px;
}
.box{
	display: block;
	border: solid green 1px;
	height: 200px;
	position: relative;
	left:20%;
	right:20%;
	width: 60%;
	/*background-color: pink;*/
}
.i{
	float: left;
	width: 25%;
	height: 75%;
	position: relative;
	top:8%;
	left:2%;
}
a{
	position: relative;
	left:2px;
	z-index:3;
	text-decoration: none;
}
.b1{
	float: left;
	width: 33.33%;
	height: 100%;
	/*border: solid black 1px;*/
}
.i1{
	position: relative;
	top:25%;
	width: 20%;
	height: 55%;
	left:5%;
	border:1px black solid;
	border-radius: 100px;
}
.r1{
	float: right;
	/*border:1px solid black;*/
	height: 25%;
	width: 70%;
}
.c11{
	float:left;
	width: 30%;
	height: 100%;
	/*border: solid black 1px;*/
}
.c12{
	float: right;
	width: 10%;
	height: 80%;
	/*border: solid black 1px;*/
}
.l{
	position: relative;
	float: left;
	width: 20%;
	height: 20%;
}
.a{
	color:white;
	padding-left:25px;
	padding-top:25%;
}